.banner {
    color: #549B01;
    background-color: aquamarine;
    background-image: url('./bg.jpg');
    background-size: cover;
    height: 200px;
    position: relative;
}

.banner div{
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    text-align: center;
    margin-left: 10%;
    font-weight: 600;
    font-size: 2.2em;
    
}
a {
    color: #549B01;
}
.content {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}

td{
    /* border-bottom: 1px solid black; */
    font-weight: 400;
    padding: 0.5em;
}